/* Put your style information here! */
body {
    padding: 0;
    margin: 0;
    background-color: lightyellow;
}
html {
    scroll-behavior: smooth;
}
nav {
    font-size: large;
}
.navbar {
    border-bottom: 2px solid;
    border-color: #ccccb4;
}
.navbar-nav .nav-link {
    padding-left: 2vw;
    border-radius: 10px;
}
.navbar-container {
    background-color: lightyellow;
}



.navbar-brand {
    font-weight: 900;
    font-size: x-large;
    margin-right: 60px;
}
/*spaces out navbar elements*/
.navbar-nav > li {
    margin-right: 20px;
    margin-left: 20px;
}

.toggler-style{
    margin-bottom: 10px;
}


.lower-image {
    position: fixed;
    max-height: 90vh;
    max-width: 50vw;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: opacity 0.1s;

}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

p {
    font-family: Assistant;
    font-size: 1.25em;
    white-space: normal;
}
h1 {
    font-family: Staatliches;
    font-weight: 900;
    padding-bottom: 6vh;
    font-size: 15vh;
    white-space: normal;
}

/*
@media only screen and (max-width: 600px) {
    h1 {
        word-break: break-all;
    }
    p {
        word-break: break-all;
    }
} */
.expander {
    height:9000px;
}

.main-header {
    margin-left: 0;
    padding-left: 10vw;
    max-width: 60vw;
    height: 80vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10vh;
}
.section-container {
    overflow-scrolling: auto;
    margin-left: 0;
    padding-left: 10vw;
    max-width: 50vw;
    margin-bottom: 25vh;
    padding-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.gallery-container {
    overflow-scrolling: auto;
    margin-left: 0;
    padding-left: 10vw;
    margin-bottom: 2vh;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card {
    padding-bottom: 20px;
    object-fit: contain;
    background-color: lightyellow;
}

h2 {
    font-family: Staatliches;
    font-weight: 900;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 8vh;
    white-space: normal;
    align-self: flex-start;
}

.card {
    border: none !important;
    outline:0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    margin-bottom: 0;
}
.card-header {
    background-color: lightyellow;
    filter: brightness(95%);
    box-shadow: 1px 2px #888888;
    border: none;
    outline:0;
    border-radius: 10px !important;
    padding: 0;
}

.card-container {
    width: 100%;
}

.carousel-container {
    width:100%;
    max-width: 70vh;
}

.card-header:hover {
    filter: brightness(85%);
}


a {
    display: block;
    overflow: auto;
    font-family: Assistant;
    white-space: normal;
    font-size: 1em;
    padding: .75rem 1.25rem;
}
a:hover{
    text-decoration-line: none;
    color: black;

}
.button-text {
    color: black;
}
.card-header .fa {
    margin-right: 2vw;
    transition: .3s transform ease-in-out;
}

.drop-down {
    background-color: lightyellow;
}



h4 {
    margin-top: 4vh;
}

img.animated {
    height: 50px;
    width: auto;
}
h3 {
    margin-top: 5vh;
}
.first-scroll-arrow {
    margin-top: 10vh;
    padding-left: 15vw;
}
.arrow-img:hover {
    opacity: 1;
}
.arrow-img {
    opacity: .5;
}

.second-scroll-arrow {
    margin-top: 40vh;
    padding-left: 15vw;
}
ol {
    padding-left: 0;
}

.third-scroll-arrow {
    margin-top: 6vh;
    padding-left: 15vw;
}

.fourth-scroll-arrow {
    margin-top: 5vh;
    padding-left: 15vw;
}

.fifth-scroll-arrow {
    margin-top: 5vh;
    padding-left: 15vw;
}

.page-down-arrow:hover {
    cursor: pointer;
}

.bounce {
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    5.6% {
        transform: translateY(0);
    }
    11% {
        transform: translateY(0);
    }
    22% {
        transform: translateY(-15px);
    }
    27.8% {
        transform: translateY(0);
    }
    33.3% {
        transform: translateY(-15px);
    }
    44.4% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}



.table-responsive::-webkit-scrollbar {
    width: 7px;

}

.table-responsive::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.table-responsive {
    border: 1px solid;
    border-color: lightgray;
    max-height: 60vh;
}

.button-arrangement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}